* {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
}

form .item {
  margin: auto;
  width: -webkit-max-content;
  width: max-content;
}
form .item input {
  outline: 0;
  border: 0;
  padding: 8px 16px 8px 16px;
  margin: 10px;
  font-size: 20px;
  color: green;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: #ссс;
}
form .item input::placeholder {
  color: #636363;
}
form button {
  background: #0059ff;
  color: #fff;
  border: 0;
  border-radius: 8px;
  padding: 8px 16px;
  display: block;
  margin: 10px auto 30px auto;
  font-size: 20px;
}
form select {
  outline: 0;
  width: 287px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 8px;
  padding: 8px 16px;
  color: #ffffff;
  background: #0059ff;
}
