body{
  margin: 0;
  padding: 0;
  background: #fff;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  background-position: right bottom;
  font-family: 'Open Sans', sans-serif;
}

.panellogin {
  background: linear-gradient(to bottom right, #21abec, #9a32b0);
  height: 1px;
}

button{
  border: 0;
  border-radius: 5px;
  height: 30px;
  background: transparent;
  color: #fff;
  font-family: Panton-Bold;
  font-size: 30px;
  line-height: 80%;
  padding-top: 5px;
}

input {
  color: #fff;
  border-radius: 5px;
  background: #606060;
  border: 0;
  margin-top: 5px;
  height: 30px;
}

select{
  background-color: #29a8df;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
  background: #606060;
  color: #fff;
}

fieldset {
  border: 2px solid #fff;
}

h4 {
  color: #606060;
}

.module-selector, .subject-selector, .class-module-confirmation {
  font-size: 20px;
  color: #606060;
  margin: 5px;
}

.module-selector {
  margin-top: 15px;
}

.class-module-confirmation {
  margin-bottom: 15px;
}

legend {
  font-family: Panton-ExtraBold;
  color: #0d47a1;
  text-transform: uppercase
}

#group, #subject, #module-select, #topic {
  padding-left: 7px;
  float: right;
  background-color: #29a8df;
  height: 30px;
  width: 280px;
}

.form {
  position: absolute;
  top: 50%
}

.imgLogin {
  position: absolute;
  width: 500px;
  height: 500px;
}

.module {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 12px;
}

.table {
  margin-top: 15px;
  margin-bottom: 15px;
}

.main{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.home {
  border: 1px solid #000;
}

.login{
  /* position: relative; */
  width: 220px;
  height: 250px;
  flex-direction: column;
}

.confirmed-button {
  background-color: #65aa13;
  font-family: 'Open Sans', sans-serif;
  height: 35px;
  text-align: center;
  font-size: 15px;
}

.ip {
  color: #606060;
}

.student-ip-panel{
  position: relative;
  width: fit-content;
  height: min-content;
  transition: width 1s, height 1s;
  padding: 20px;
}

.module-wrapper{
  width: 60%;
  position: relative;
  transition: width 1s, height 1s;
  padding-top: 25px;
}

/* create_module */

.module-creation-wrapper {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

.section {
  padding: 10px;
}

/* panel-login */

.loginIn {
  font-family: Panton-Regular;
  font-size: 17px;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  outline: none;
}
.password {
  font-family: Panton-Regular;
  font-size: 17px;
  margin-bottom: 30px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  outline: none;
}
.text {
  color: #fff;
}
.button {
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  height: 35px;
  width: 150px;
  text-align: center;
  background-color: #fff;
  color: #000;
  outline: none;
  position: absolute;
  top: 79%;
  left: 25%;
}

.button2 {
  background: #29a8df;
  font-family: 'Open Sans', sans-serif;
  height: 35px;
  width: 180px;
  text-align: center;
  font-size: 15px;
  border: 0;
  margin-bottom: 2px;
}

.button3 {
  background: #29a8df;
  font-family: 'Open Sans', sans-serif;
  height: 35px;
  text-align: center;
  font-size: 15px;
}

.button4 {
  background: linear-gradient(to right, #21abec, #9a32b0);
  font-family: 'Open Sans', sans-serif;
  border-radius: 40px;
  height: 35px;
  width: 280px;
  text-align: center;
  font-size: 15px;
  border: 0;
  position: absolute;
  left: 5%;
}

.button5 {
  position: relative;
  /* top: 20px; */
  background: #fff;
  color: #0852ff;
  width: 70%;
  height: 40px;
  margin-left: 35px;
  font-family: Panton-ExtraBold;
  font-size: 25px;
}

.to-crmd {
  border: 0;
  font-size: 25px;
}

.search {
  font-size: 20px;
  background: #29a8df;
}

.module-creation {
  height: 36px;
  width: 320px;
  align-content: center;
  background: #f8e5c7;
  position: absolute;
  /* top: 60%; */
  left: 37%;
}

.strelka {
  height: 10px;
}

pre {
  margin: 0;
  font-size: 20px;
}

/* panel */

.wrapper{
  width: auto;
  height: 100vh;
  margin: auto;
  display: flex;
}

/* complete_test */

a {
  text-decoration: none;
  border-radius: 5px;
  background-color: #29a8df;
  color: #fff;
  text-align: center;
  width: 150px;
}

/* index */

.student-wrapper {
  width: 500px;
  height: auto;
}
.selection{
  display: flex;
  flex-flow: column;
}
.selection select{
  height: 30px;
  margin: 5px 0;
}

.group {
  color: #0d47a1;
}

.get_group {
  background: #29a8df;
  width: 100%;
}

.get_name {
  width: 100%;
  background: #29a8df;
  margin-bottom: 20px;
}

.fieldset {
  border: 2px solid #0d47a1;
  margin-bottom: 20px;
}

.buttonindex {
  background: linear-gradient(to right, #0852ff, #b866b0);
  border: 0;
  width: 150px;
  margin: auto;
  border-radius: 14px;
}

.download {
  position: absolute;
  top: 175px;
  left: 42%;
  background: #f8e5c7;
  height: 35px;
  width: 220px;
}

#createModule {
  color: #606060;
  font-size: 15px;
}

.export {
  margin: auto;
  border: 0;
  outline: none;
}

.print-to-excel {
  text-align: center;
  margin-top: 50px;
}

.tests {
  /* width: 185px; */
  /* padding-left: 50px; */
  border: 2px solid #000;
  border-image: linear-gradient(to right, #0852ff, #b866b0);
  border-image-slice: 1;
  padding: 10px 10px 10px 40%;
}

.send {
  background: #7ac643;
}

.fieldsetlogin {
  height: 210px;
}

.viewpanel-wrapper{
  width: 80%;
  position: relative;
  left: 50%;
  margin-top: 3rem;
  transform: translate(-50%,0);
  border: 1px solid black;
  padding: 1rem;
}

.test-list-wrapper{
  display: none;
  width: 80%;
  position: relative;
  left: 50%;
  margin-top: 3rem;
  transform: translate(-50%,0);
  border: 1px solid black;
  padding: 1rem;
}

table, th, td {
  padding: 1px;
  border: 1px solid black;
}

.tabling {
  padding: 5px;
}

.veiwlink{
  float: right;
}

.add-opt-select{
    display: none;
}

.addv-p{
  width: max-content;
  margin: 0;
}

.addv-p:hover{
  background-color: #DDDDAA;
  transition: 0.1s;
}

.dataset{
  display: none;
}

.stsrch{
  width: 300px;
}

.option{
  display: none;
}

.option-wrap{
  margin: 1rem;
  padding: 5px;
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
}

.student_test_status {
  background: #1e72b2;
}

.create {
  background: transparent;
}

.met {
  display: flex;
  width: 90%;
}

#buttonmet {
  margin: auto;
  border-radius: 15px;
  width: 50%;
  /* height: 60px; */
  background: #29a8df;
  padding-bottom: 7px;
}
/* 
.buttonmet2 {
  position: absolute;
  top: 94%;
  left: 80%;  
} */

.buttonmet {
  font-size: 25px;
  height: 100%;
}

.addv-opt-wrapper{
  margin: 0;
  margin-top: 12px;
  padding: 1rem;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
}

.auth-button{
  height: 50px;
  border: 1px solid #000;
  margin: auto;
  font-size: 20px;
  padding: 5px;
  color: #fff;
  background: #29a8df;
}

.exel {
  margin: 35%;
}

#dvm1 {
  width: 300px;
}

.method-select, #dvm1, .sort-by {
  font-size: 20px;
}
.debug{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 12000;
}

.student-ip-info{
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}

.info {
  display: flex;
  margin-top: 14px;
}

.infotext {
  margin-top: 4px;
  margin-bottom: 0;
}

.knopka {
  margin: 0 auto;
}

#tema {
  color: #fff;
  padding-top: 0;
  background: #000;
  font-size: 15px;
  width: 100px;
  height: 20px;
  font-family: Panton-ExtraLight;
}

.endTest {
  background: #29a8df;
  padding-top: 0;
  padding-bottom: 30px;
  height: 30px
}

.font {
  font-family: Panton-Regular;
  font-size: 20px;
}

.import-from  .importfile{
  position: relative;
  top: -2px;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.import-from .importbutton {
  height: 40px;
  border: 0;
  border-radius: 5px;
  background: #29a8df;
  font-size: 15px;
}

.import {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #0d47a1;
  margin-top: 20px;
  padding: 10px;
}

.fromimport input {
  padding-left: 10px;
}

.fromimport input::placeholder {
  color: #fff;
  /* padding-left: 10px; */
}

.fromimport button {
  border: 0;
  border-radius: 5px;
  background: #29a8df;
  font-size: 20px;
  position: relative;
  left: 35%;
}

.importmodule {
  width: 80%;
  margin-left: auto ;
  margin-right: auto;
}

.importname {
  margin-top: 20px;
}

.exit-wrap {
  position: fixed;
  top: 95%;
  left: 0%;
  border-radius: 5px;
}

.nexttest {
  background: #29a8df;
  font-size: 25px;
}


.back {
  margin-top: 10px;
  float: right;
}

textarea::-webkit-input-placeholder { color: #fff};