@media (max-width: 640px) {
    .auth-button {
        position: inherit;
    }
    .student-wrapper {
        width: 80%;
    }
    #group, #subject, #module-select, #topic {
        float: inherit;
    }
    .exel {
        margin: 15%;
    }
    .imgLogin {
        width: 250px;
        height: 250px;
    }
}