@media (max-width: 640px) {
    .auth-button {
        position: inherit;
    }
    .student-wrapper {
        width: 80%;
    }
    #group, #subject, #module-select, #topic {
        float: inherit;
    }
    .exel {
        margin: 15%;
    }
    .imgLogin {
        width: 250px;
        height: 250px;
    }
    .login {
        margin-top: 5%;
    }   
}

@media (max-width: 800px) {
    body, textarea, .send, .class, .getbutton {
        font-size: 20px;
    }
    #group, #subject, #module-select, #topic {
        float: inherit;
    }
    .student-ip-panel {
        padding: 11px;
    }
    .button2, .button {
        font-size: 20px;
        width: 100%;
    }
    .button5 {
        margin: auto;
        width: 80%;
    }
    .confirmed-button, .test {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .button2, .button {
        font-size: 20px;
        width: 100%;
    }
}