.student-wrapper{
  margin: auto;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  width: 60%;
  background: #f8e5c7;
  margin-bottom: 240px;
}

.avaliable-test{
  background: #606060;
  transition: background 0.1s;
  color: #fff;
  border-radius: 5px;
  padding-left: 5px;
}

.avaliable-test:hover {
  background: #6f6f6f;
}

.main-testfield{
  border-radius: 5px;
}
.question-result{
  border-bottom: 1px black dotted;
}

.student-info {
  color: #000;
}

.question{

  border-bottom: 1px black solid;
}

.fieldset{
  background-color: white;
}
input::-webkit-input-placeholder { color: #fff};
