.student-wrapper{
  margin: auto;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  width: 60%;
}

.avaliable-test{
  background: #606060;
  transition: background 0.1s;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-family: Panton-Black;
  font-size: 20px;
}

.avaliable-test:hover {
  background: #6f6f6f;
}

.main-testfield{
  border-radius: 5px;
}
.question-result{
  border-bottom: 1px black dotted;
}

.student-info {
  color: #000;
  font-family: Panton-Black;
  font-size: 20px;
}

.question{
  border-bottom: 1px black solid;
}

input::-webkit-input-placeholder { color: #fff};
