.student-wrapper{
  margin: auto;
  border: 1px black solid;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  width: 60%;
}

body{
  background-color: #efefef;
}

.avaliable-test{
  border-bottom: 1px solid black;
  background: #232323;
  transition: background 0.1s;
  color: #b5b5b5;
  border-radius: 5px;
  padding-left: 5px;
}

.avaliable-test:hover {
  background: lightgrey;
}

.main-testfield{
  border-radius: 5px;
}
.question-result{
  border-bottom: 1px black dotted;
}

.student-info {
  color: #000;
}